body {
  background: #f7f7f7;
}
* {
  margin: 0;
  padding: 0;
}
.zd {
  width: 800px;
  margin: 15px auto;
}
.zd-editor {
  position: relative;
  min-height: 800px;
  border: 1px solid #efeff1;
  margin-bottom: 15px;
  box-shadow: 0 0 6px 0px rgba(218, 218, 218, 0.5);
  background: #fff;
  font-size: 14px;
}
.zd-editor .zd-block {
  line-height: 20px;
  height: 20px;
  position: relative;
}
.zd-editor .zd-block .overlay {
  background-color: #003dfe;
  z-index: 20;
  opacity: 0.25 !important;
  position: absolute;
  top: 0;
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.zd-cursor {
  position: absolute;
  width: 2px;
  height: 20px;
  background: #0161fe;
  display: inline-block;
  animation-name: cursor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.zd-toolbar > span {
  background: #fff;
  color: #333333;
  display: inline-block;
  padding: 2px 4px;
}
